* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --sidebar-font-color: #ffffff;
    --sidebar-background-color: #1992D4;
}


.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.container .sidebar {
    grid-row: 1 / 3;
    color: var(--sidebar-font-color);
    background-color: var(--sidebar-background-color);
}