@font-face {
    font-family: 'Roboto Condensed';
    src: url('../font/RobotoCondensed-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --sidebar-font-color: #ffffff;
    --sidebar-background-color: #1992D4;
    --search-input-background-color: #E2E8F0;
    --header-buttons-font-color: #ffffff;
    --header-buttons-background-color: #1992D4;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

.container .sidebar {
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    color: var(--sidebar-font-color);
    background-color: var(--sidebar-background-color);
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0.75rem 1.25rem;
}

.sidebar .nav-group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.sidebar .dashboard-title {
    font-size: 1.4rem;
}

.sidebar .dashboard-icon {
    width: 55px;
}

.sidebar .nav-item a {
    display: flex;
    align-items: center;
    gap: 1em;
}

.sidebar .nav-icon {
    width: 25px;
}

.sidebar a,
.sidebar a:link,
.sidebar a:visited {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem 3rem 1rem 2rem;
}

header .header-main-row {
    display: flex;
    justify-content: space-between;
}

.header-main-row .icon {
    width: 25px;
}

.header-main-row .search {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-main-row .search-field {
    height: 1.75rem;
    width: 40rem;
    border-radius: 10px;
    background-color: var(--search-input-background-color);
    border: none;
}

.header-main-row .user-section {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.user-section .username {
    font-size: 1rem;
    font-weight: 700;
}

header .header-sub-row {
    display: flex;
    justify-content: space-between;
}

.header-sub-row .welcome {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.welcome .welcome-message{
    font-weight: 700;
}

.welcome-message .greeting{
    font-size: 0.75rem;
}

.welcome-message .username{
    font-size: 1.5rem;
}

.header-sub-row .header-buttons {
    display: flex;
    gap: 2em;
}

.header-buttons button {
    color: var(--header-buttons-font-color);
    background-color: var(--header-buttons-background-color);
    border-radius: 20px;
    padding: 0.75rem 2rem;
    border: none;
}