@font-face {
    font-family: 'Roboto Condensed';
    src: url('../font/RobotoCondensed-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --sidebar-font-color: #ffffff;
    --sidebar-background-color: #1992D4;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

.container .sidebar {
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 2em;
    color: var(--sidebar-font-color);
    background-color: var(--sidebar-background-color);
    font-size: 25px;
    font-weight: 700;
    padding: 0.5em 1em;
}

.sidebar .nav-group {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.sidebar .dashboard-title {
    font-size: 30px;
}

.sidebar .dashboard-icon {
    width: 55px;
}

.sidebar .nav-item a {
    display: flex;
    align-items: center;
    gap: 1em;
}

.sidebar .nav-icon {
    width: 25px;
}

.sidebar a,
.sidebar a:link,
.sidebar a:visited {
    text-decoration: none;
    color: inherit;
}