@font-face {
    font-family: 'Roboto Condensed';
    src: url('../font/RobotoCondensed-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --sidebar-font-color: #ffffff;
    --sidebar-background-color: #1992D4;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.container .sidebar {
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--sidebar-font-color);
    background-color: var(--sidebar-background-color);
}

.sidebar a {
    flex: initial;
    font-size: 25px;
    font-weight: 700;
}