@font-face {
    font-family: 'Roboto Condensed';
    src: url('../font/RobotoCondensed-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --sidebar-font-color: #ffffff;
    --sidebar-background-color: #1992D4;
    --search-input-background-color: #E2E8F0;
    --header-buttons-font-color: #ffffff;
    --header-buttons-background-color: #1992D4;
    --box-shadow-color: #D0D6DD;
    --main-background-color: #E2E8F0;
    --card-background-color: #ffffff;
    --card-left-border-color: #F0B429;
    --card-body-font-color: #8A8A8A;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

.container .sidebar {
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    color: var(--sidebar-font-color);
    background-color: var(--sidebar-background-color);
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0.75rem 1.25rem;
}

.sidebar .nav-group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.sidebar .dashboard-title {
    font-size: 1.4rem;
}

.sidebar .dashboard-icon {
    width: 55px;
}

.sidebar .nav-item a {
    display: flex;
    align-items: center;
    gap: 1em;
}

.sidebar .nav-icon {
    width: 25px;
}

.sidebar a,
.sidebar a:link,
.sidebar a:visited {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem 3rem 1rem 2rem;
    box-shadow: 0 5px 5px var(--box-shadow-color);
    z-index: 0;
}

header .header-main-row {
    display: flex;
    justify-content: space-between;
}

.header-main-row .icon {
    width: 25px;
}

.header-main-row .search {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-main-row .search-field {
    height: 1.75rem;
    width: 40rem;
    border-radius: 10px;
    background-color: var(--search-input-background-color);
    border: none;
}

.header-main-row .user-section {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.user-section .avatar-small {
    width: 50px;
    border-radius: 50%;
}

.user-section .username {
    font-size: 1rem;
    font-weight: 700;
}

header .header-sub-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-sub-row .welcome {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.welcome .avatar-medium {
    width: 70px;
    border-radius: 50%;
}

.welcome .welcome-message {
    font-weight: 700;
}

.welcome-message .greeting {
    font-size: 0.75rem;
}

.welcome-message .username {
    font-size: 1.5rem;
}

.header-sub-row .header-buttons {
    display: flex;
    gap: 2em;
}

.header-buttons button {
    color: var(--header-buttons-font-color);
    background-color: var(--header-buttons-background-color);
    font-weight: 700;
    border-radius: 20px;
    padding: 0.5rem 2rem;
    border: none; 
}

main {
    display: flex;
    background-color: var(--main-background-color);
    padding: 1.5rem 1.5rem 2rem 1rem;
    gap: 1.75rem;
}

.projects .project-card,
.announcements .announcements-card-container,
.trending .trending-card-container {
    box-shadow: 5px 5px 5px var(--box-shadow-color);
    border-radius: 10px;
}

.projects .projects-title,
.announcements .announcements-title,
.trending .trending-title {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
}

.project-card .project-card-body,
.announcement-card .announcement-card-body,
.trending-card .trending-card-tagline {
    color: var(--card-body-font-color);
}

.projects .projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.projects-grid .project-card {
    background-color: var(--card-background-color);
    border-left: 10px solid var(--card-left-border-color);
    padding: 1rem;
}

.project-card .project-card-title {
    font-weight: 700;
}

.project-card .project-card-features {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1.5rem;
}

.project-card .project-card-icon {
    width: 20px;
}
.announcements .announcements-card-container{
    margin-bottom: 2rem;
}

.announcements .announcements-card-container,
.trending .trending-card-container {
    padding: 1rem;
    background-color: var(--card-background-color);
}

.announcement-card .announcement-card-title {
    font-weight: 700;
}

.announcement-card .announcement-card-title,
.announcement-card .announcement-card-body {
    font-size: 0.85rem;
}

.trending .trending-card-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.trending-card-container .trending-card {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.trending-card .trending-card-icon {
    width: 60px;
    border-radius: 50%;
}

.trending-card .trending-card-username {
    font-size: 0.85rem;
}

.trending-card .trending-card-tagline {
    font-size: 0.75rem;
}